.case-category {

  .container-labelled__label {

    svg {
      display: block;
      width: 15px;
      margin: 0 auto;
    }
  }

  .category-page-cases {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
  }
}