header.site-header {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99999999999999999;

    .site-header-brand {
        width: 120px;
    }
}