header.site-header {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .site-header-brand {
        width: 140px;
    }
}