.cases-section {
    display: flex;
    margin: 110px 0;

    &__left {
        width: 175px;
        min-width: 175px;

        .section-label {
            display: block;
            transform: rotate(90deg) translate(73px, -5px);
        }
    }

    &__inner {
        flex-grow: 1;

        .cases-list {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            //grid-template-rows: repeat(16, 1fr);
        }
    }
}

@media all and (max-width: 992px) {
    .cases-section {

        &__left {
            display: none;
        }

        &__inner {
            padding: 50px;

            .cases-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}